/* 
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
13 / 15 / 18 / 36

--- 02 COLORS

- Primary:
#f7e296
- Tints:
#f7e184
- Shades:
#ffc600
#f0c52e
- Accents:
- Greys:
#000
#464646
#e5e5e5
#fff

--- 07 WHITESPACE

- Spacing system (px)
/ 38 / 

*/

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroy/gilroyextrabold.woff2) format("woff2"),
    url(../fonts/gilroy/gilroyextrabold.woff) format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroy/gilroylight.woff2) format("woff2"),
    url(../fonts/gilroy/gilroylight.woff) format("woff");
  font-weight: 300;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  padding-top: 4rem;
  color: #464646;
}

ul,
ol {
  list-style: none;
}

iframe {
  border: none;
}

address {
  font-style: normal;
}

input[type="submit"] {
  display: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: #000;
}

/****************************************************/
/* GENERAL REUSABLE COMPONENTS */
/****************************************************/
.container {
  max-width: 116rem;
  margin: 0 auto;
}

.gilroy-700 {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  color: #000;
}

.heading-big {
  font-size: 4.7rem;
}

.header-logo,
.footer-logo {
  font-size: 4.8rem;
  text-transform: uppercase;
}

.header-logo:hover,
.footer-logo:hover,
.shipment-warranty-contacts-footer a:hover,
.catalog-list a:hover {
  opacity: 0.6;
}

.header-logo:active,
.footer-logo:active,
.shipment-warranty-contacts-footer a:active,
.catalog-list a:active {
  opacity: 0.3;
}

.uppercase-link {
  font-size: 1.8rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.uppercase-2x_spacing {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.font-size-18px {
  font-size: 1.8rem;
}

.icon-before::before {
  padding-right: 1.3rem;
}

.btn,
.btn:link,
.btn:visited {
  position: relative;
  line-height: 1;
  text-align: center;
}

.btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  transform: translate(0, -50%);
  background-color: #f0c52e;
  top: 50%;
  left: 0;
  width: 100%;
  height: 8px;
  transition: all 0.5s;
}

.btn:hover::after {
  height: 40px;
}

.btn:link:active,
.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

button.btn {
  border: none;
  background: initial;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: inherit;
}

/* REUSABLE GRID */
.row-1 {
  grid-row-start: 1;
}

.row-3 {
  grid-row-start: 3;
}

.row-5 {
  grid-row-start: 5;
}

.row-5-span-2 {
  grid-row: 5 / span 2;
}

.row-6 {
  grid-row-start: 6;
}

.row-8 {
  grid-row-start: 8;
}
